@font-face {
  font-family: 'social-icon';
  src: url('./social-icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'close-icon';
  src: url('./close-icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'arrow-icon';
  src: url('./arrow-icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: 'arrow-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="social__"]::before,
[class*=" social__"]::before {
  font-family: 'social-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="main-nav__"]::before,
[class*=" main-nav__"]::before {
  font-family: 'close-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social__fb-icon::before {
  content: "\e900";
}

.social__insta-icon::before {
  content: "\e901";
}

.social__tg-icon::before {
  content: "\e902";
}

.main-nav__close-icon::before {
  content: "\e903";
}

.icon-back-top-arrow::before {
  content: "\e900";
}
