.products {
  padding: 0 0 60px;
  position: relative;
}

.products__expand-list {
  width: 68px;
  height: 68px;
  background: #e52d14 url(../img/arrow-down.svg) center/ 35px 20px no-repeat;
  bottom: -34px;
  left: calc(50% - 34px);
  z-index: 2;
}

.products__expand-list:hover {
  background-color: #6da125;
}

.products__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.products__blocks {
  width: 100%;
  height: 410px;
  margin: 0;
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.products__title {
  margin-top: 368px;
}

.products__wrapper {
  position: relative;
  width: calc(100% - 10px);
}

.products__list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.products__item {
  width: calc((100% - 120px)/5);
  margin-right: 30px;
  flex-shrink: 0;
}

.products__item:last-of-type {
  margin-right: 0;
}

.products__button {
  width: 34px;
  height: 34px;
  top: 33%;
  transform: translateY(-50%);
  background: #6da125;
  z-index: 2;
}

.products__button:hover {
  background: #fff;
}

.products__button_disabled {
  opacity: 0;
  visibility: hidden;
}

.products__button svg path {
  fill: #fff;
}

.products__button:hover svg path {
  fill: #040007;
}

.products__button_next {
  right: -14px;
}

.products__button_prev {
  left: -14px;
}

.products__button_prev svg {
  transform: translateX(-1px);
}

.products__button_next svg {
  transform: translateX(1px);
}

@media (max-width: 1279px) {
  .products__blocks {
    top: -4%;
  }

  .products__title {
    margin-top: 430px;
  }
}

@media (max-width: 1024px) {
  .products__wrapper {
    width: 100%;
  }

  .products__item {
    width: calc((100% - 80px)/5);
    margin-right: 20px;
  }

  .products__expand-list {
    width: 50px;
    height: 50px;
    background-size: 24px 14px;
    bottom: -25px;
    left: calc(50% - 25px);
  }
}

@media (max-width: 768px) {
  .products__expand-list {
    width: 40px;
    height: 40px;
    bottom: -20px;
    left: calc(50% - 20px);
  }

  .products__blocks {
    position: relative;
    height: auto;
  }

  .products__item {
    width: calc((100% - 40px)/3);
  }

  .products__title {
    margin-top: 40px;
  }

  .products__button {
    width: 28px;
    height: 28px;
  }

  .products__button_next {
    right: -14px;
  }

  .products__button_prev {
    left: -14px;
  }
}

@media (max-width: 575px) {
  .products__item {
    width: calc((100% - 60px)/2);
    margin-right: 15px;
  }

  .products__button {
    display: none;
  }
}
