.social {
  list-style: none;
  padding: 0;
  display: flex;
}

.social__item {
  margin-right: 15px;
}

.social__item:last-of-type {
  margin: 0;
}

.social__item_place_address {
  margin-right: 10px;
}

.social__link {
  display: block;
  text-decoration: none;
  color: #040007;
  transition: all 0.4s linear;
  font-size: 16px;
  line-height: 1.43;
  font-weight: 500;
}

.social__link:hover {
  color: #6da125;
  transform: scale(1.2);
}

.social__link_place_address {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d9d9c;
  background: #fff;
  border-radius: 100%;
  /* transition: color 0.4s linear, background 0.4s linear; */
}

.social__link_place_address:hover {
  color: #fff;
  background: #6da125;
  transform: scale(1);
  border: 1px solid #6da125;
}
